<div class="card w-25 m-5 mx-auto p-4">
    <img src="../../assets/pictures/Dashboard-logo.png" alt="Dashboard-logo" class="rounded mb-1 mt-2">
    <h2 class="my-4 text-center">Welcome Back!</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          class="form-control my-2"
          required
          [(ngModel)]="email"
          name="email"
          #emailInput="ngModel"
        />
        <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger">
          Please enter a valid email address.
        </div>
      </div>
  
      <div class="form-group">
        <label for="password">Password:</label>
        <div class="input-group">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            class="form-control mt-2"
            required
            [(ngModel)]="password"
            name="password"
            #passwordInput="ngModel"
          />
          <span class="input-group-text eye-icon mt-2" (click)="togglePasswordVisibility()" style="cursor: pointer;">
            <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
          </span>
          
        </div>
        <div *ngIf="passwordInput.invalid && passwordInput.touched" class="text-danger">
          Password must be between 7 and 15 characters, with at least one uppercase letter, one lowercase letter, one number, and one special character.
        </div>
      </div>
      
      
      
  
      <div class="form-group form-check my-4 d-flex gap-2 align-items-center">
        <input
          type="checkbox"
          class="form-check-input"
          [(ngModel)]="rememberMe"
          name="rememberMe"
          id="rememberMe"
        />
        <label class="form-check-label" for="rememberMe">Remember Me</label>
      </div>
  
      <button type="submit" class="btn btn-primary w-100 mb-2" id="login-btn" [disabled]="loginForm.invalid">
        Login
      </button>
    </form>
  </div>
  
