.card {
    margin-bottom: 20px;
    height: 150px;
    border-radius: 15px;
  }
  
.c-header {
  margin-top: 25px;
  color: white;
}

.cards {
  width: 95%;
}


#permissions {
  background-color: #4B49AC;
  color: white;
}

