<div class="container mt-5 mx-auto d-flex flex-column">
  <h2 class="mb-4">Manage Permissions</h2>
  <div class="d-flex flex-column">
    <div class="cards" *ngFor="let rolePermission of (rolePermissions$ | async)">
      <div class="card" id="permissions">
        <div class="c-header mx-auto">
          <h5 class="titles">{{ rolePermission.role | titlecase }}</h5>
        </div>
        <div class="card-body">
          <form class="d-flex gap-5 p-3 justify-content-around">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="{{ rolePermission.role }}-create"
                [(ngModel)]="rolePermission.canCreate"
                (change)="onPermissionChange(rolePermission.role, $event)"
                name="canCreate"
              />
              <label class="form-check-label" for="{{ rolePermission.role }}-create">Can Create</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="{{ rolePermission.role }}-read"
                [(ngModel)]="rolePermission.canRead"
                (change)="onPermissionChange(rolePermission.role, $event)"
                name="canRead"
              />
              <label class="form-check-label" for="{{ rolePermission.role }}-read">Can Read</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="{{ rolePermission.role }}-update"
                [(ngModel)]="rolePermission.canUpdate"
                (change)="onPermissionChange(rolePermission.role, $event)"
                name="canUpdate"
              />
              <label class="form-check-label" for="{{ rolePermission.role }}-update">Can Update</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="{{ rolePermission.role }}-delete"
                [(ngModel)]="rolePermission.canDelete"
                (change)="onPermissionChange(rolePermission.role, $event)"
                name="canDelete"
              />
              <label class="form-check-label" for="{{ rolePermission.role }}-delete">Can Delete</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
