<div class="container mt-5">
  <h2>Welcome, {{ firstName }}</h2>
  <div class="row mt-4">
    <div class="col-md-3">
      <div class="card text-white bg-primary mb-3">
        <div class="card-header">Total Users</div>
        <div class="card-body">
          <h5 class="card-title">{{ totalUsers }}</h5>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card text-white bg-success mb-3">
        <div class="card-header">Admins</div>
        <div class="card-body">
          <h5 class="card-title">{{ adminCount }}</h5>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card text-white bg-info mb-3">
        <div class="card-header">Data Managers</div>
        <div class="card-body">
          <h5 class="card-title">{{ dataManagerCount }}</h5>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card text-white bg-warning mb-3">
        <div class="card-header">Employees</div>
        <div class="card-body">
          <h5 class="card-title">{{ employeeCount }}</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <ag-grid-angular
        style="width: 100%; height: 600px"
        class="ag-theme-quartz"
        [rowData]="rowData"
        [columnDefs]="colDefs"
        [pagination]="pagination"
        [paginationPageSize]="paginationPageSize"
        [paginationPageSizeSelector]="paginationPageSizeSelector"
        [defaultColDef]="defaultColDef"
      >
      </ag-grid-angular>
    </div>
  </div>
</div>
