.card {
    background-color: #FAFAFA;
    color: black;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 3px 13.3px 9px rgba(202, 208, 238, 0.308);
}

.change-password-btn {
    color: #F3797E;
    cursor: pointer;
}

.change-password-btn:active {
    border: none;
}

.edit-user-btn {
    background-color: #4B49AC;
    color: white;
    cursor: pointer;
}

.save-btn,
.update-pass-btn {
    background-color: #98BDFF;
    color: white;
    cursor: pointer;
    margin: 10px 0;
}

.cancel-btn {
    background-color: #F3797E;
    color: white;
    cursor: pointer;

}